.nav {
  border-bottom: 2px solid #ddd;
  background: $primary;
  ul {
    padding: 7px 0;
    display: flex;
    margin: 0;
    // justify-content: space-around;
    list-style: none;
    li {
      border-right: 1px solid #ddd;
      padding: 0 20px;
      a {
          font-size: 13px;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
      }
    }
  }
}
