.subscribe {
  flex-shrink: 7;

  button.orange {
    font-family: 'Oswald', sans-serif;
    margin-right: 10px;
    background-color: $secondary;
    font-weight: bold;
    color: #fff;
    border: 2px solid $secondary;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s all ease;

    &:hover {
      background: $primary1;
      border: 2px solid $primary1;
    }
  }

  button.black {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;  
    border: 2px solid $secondary;
    padding: 5px;
    border-radius: 5px;
    color: $secondary;
    cursor: pointer;
    transition: .25s all ease;

    &:hover {
      background: $primary1;
      border: 2px solid $primary1;
      color: $white;
    }
  }
}