.booton {
  flex-shrink: 7;
}

button.orange {
    margin-right: 10px;
    font-weight: bold;
    background-color: $secondary;
    color: #fff;
    border: 2px solid $secondary;
    padding: 1rem;
    border-radius: 5px;
}

button.black {
  font-weight: bold;  
  border: 2px solid $secondary;
  padding: 1rem;
  border-radius: 5px;
  color: $secondary;
}