$base: #F7F7F7;
$darken : #2C303C;
$back: darken(#F7F6F0, 40%);
$white: #FFFFFF;
$black: #000000;
$basic: #DDDDDD;
$primary1: #0081C5;
$primary: #008FEA;
$primary2: #008FEA;
$secondary: #FF6D00;
$tertiary: #064771;
$kuarta: #10689b;
$gray: #999999;

// Lines
$dotted: 1px dotted #000;
