$base: #F7F7F7;
$darken : #2C303C;
$back: darken(#F7F6F0, 40%);
$white: #FFFFFF;
$black: #000000;
$basic: #DDDDDD;
$primary: #0678be;
$primary1: #008FEA;
$secondary: #FF9800;
$tertiary: #064771;
$kuarta: #1374b9;
$gray: #999999;

// Lines
$dotted: 1px dotted #000;
